<ion-header>
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="start">
  <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Decks em Progresso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div [attr.toggle]="false" style="display:none;" #startMessage class="start-message ion-padding">
    <h2 class="ubuntu ion-margin-bottom">Você ainda não iniciou um <span style="font-weight: bold;">Deck</span>.</h2>
    <ion-icon class="ion-margin" src="assets/icon/progress.svg" style='font-size: 6rem;'></ion-icon>
    <h2 class="ubuntu ion-margin-top">Vá até um Deck e inicie um jogo para acompanhar seu progresso.</h2>
  </div>

  <section class="ion-padding ion-margin-top">
    <article class="deck" *ngFor="let deck of decksInProgress; let i = index">
      <div class="deck-left">
        <div class="deck-icon" [title]="deck.name">{{ deck.name.length > 30 ? deck.name.slice(0,30) + '...' : deck.name }}</div>
      </div>
      <div class="deck-info ion-padding-start ion-padding-end">
        <p><b>Total de cartas: {{ deck.cards ? deck.cards.length : '' }}</b></p>
        <p><b>Erradas:</b> {{ deck.wrongCards }}</p>
        <p><b>Corretas:</b> {{ deck.rightCards }} </p>
        <p><b>Conjunto:</b> {{ groups[deck.groupIndex].name }}</p>
        <p class="mb"><b>Progresso:</b> {{ deck.cards ? (deck.wrongCards + deck.rightCards) + '/' + deck.cards.length : '' }} </p>

        <app-progress-bar [showProgressText]="false" [height]="10" [userId]="userId" [groupId]="groups[deck.groupIndex].id" [deckId]="deck.id" [deckProgress]="deck.progress" class="progress" color="secondary"></app-progress-bar>
      </div>

    </article>
  </section>

</ion-content>





