<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Conjuntos</ion-title>
    <ion-button (click)="filterSheet()" slot="end" color="tertiary" class="ion-margin-end">
      <fa-icon [icon]="['fas', 'filter']" style="color: #fff"></fa-icon>
    </ion-button>
    
  </ion-toolbar>
</ion-header>
<ion-content class="ion-margin-bottom">
  <div *ngFor="let group of groups | async" [routerLink]="['/decks', group.id]"  (click)="updateGroup(group.id)" class="ion-margin-top group"
    [style.backgroundColor]="color.value">
    <input #color (focusout)="changeColor(group.id, group.color)" type="color" clickStopPropagation
      [(ngModel)]="group.color" />
    <h3>{{ group.name }}</h3>
  </div>

  <ion-footer>
    <div class="toolbar">
      <ion-button (click)="addGroup()" mode="md" color="success" shape="round">
        <ion-icon slot="start" slot="icon-only" style="font-size: 1em" name="add"></ion-icon>
      </ion-button>
    </div>
  </ion-footer>
</ion-content>
