<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>{{deckName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngFor="let card of cards | async; let i = index">
  <div class="content" *ngIf="i == index">
    <div class="card" attr.bacon="{{i}}">
      <div class="card-inner">
          <div class="card-front"> {{i}} {{card.front}} </div>
          <div class="card-back"> {{card.back}} </div>
      </div>
    </div>
    <div class="buttons ion-margin-bottom">
    <ion-button (click)="Remember()" color="success">
      Lembro
    </ion-button>

    <ion-button (click)="NoRemember()" color="danger">
      Não lembro
    </ion-button>
    </div>
  </div>
</div>

<div *ngIf="deckLength && deckLength > index" class="progress-bar ion-margin-top">
 <p></p>
 <p></p>
  <p class="ion-text-center">{{index}}/{{deckLength}}</p>
  <ion-progress-bar value="{{index/deckLength}}"></ion-progress-bar>
</div>

<div *ngIf="!(deckLength && deckLength > index)">
  Acabou, mano.
</div>

</ion-content>

